
@import "./theme";
@import "./bootstrap/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {    
    font-family: 'Kanit', sans-serif;
    // margin-top: 80px !important;
}

.landing {
    background: linear-gradient(0deg, rgba(46, 48, 71, 0.95), rgba(46, 48, 71, 0.95)), url("../images/landing.png") center no-repeat;
    background-size: cover;
}